@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
* {
  box-sizing: border-box;
}
header {
  padding: 20px;
  width: 100%;
  background-color: #fff;
 
 }
 .offcanvas-body {
   padding: 0;
   margin-top: 34px;
 }
 /*nabMobile*/
 .offcanvas-end {
   width: 320px;
 }
 .accordion-body ul {
   list-style: none;
   padding: 0;
 }
 .accordion-body ul li {
   border-bottom: 1px solid #f1f1f1;
   width: 283px;
 }
 .accordion-body ul li a {
   font-size: 13.5px;
   color: #212529;
   text-decoration: none;
   width: 100%;
   padding: 0 6.1px;
   line-height: 45px;
 }
 /*end nabMobile*/
 
 
 .image img {
 width: 77px;
 height: 40px;
 }
 .nav-menu_right > ul > li, .nav-menu a {
   display: inline-block;
 }
 .nav-menu_right ul {
   margin-bottom: 0;
   float: right ;
 }
 .nav-menu_right ul li{
   padding: 10px 14px;
 }
 .nav-menu_right a {
   font-family: 'Poppins', sans-serif;
    font-weight:  500;
    font-size: 12px;
    line-height: 18px;
    color: #25282B;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.5px; 
 }  
 .nav-menu_right li a:hover {
   border-bottom: 3px solid #00DAFF;
  margin-bottom: 0;
 
 } 
 .nav-menu_right li:hover .submenu {
   display: block;
   padding: 0;
   margin: 0;
 }
 .submenu {
   position: absolute;
   background-color: #a8a8a8;
  list-style: none;
  padding: 0;
  display: none;
  width: 14%;
  margin: 2px 5px;
 }
 .submenu a:hover {
 color: #f2f2f2 !important;
 border-bottom: none !important;
 }    
 .accordion-buttons {
   text-decoration: none;
   font-size: 1rem;
   font-weight: 400;
   color: #212529;
   padding: 0px 20px;
   margin-top: 10px;
 }
 .accordion-header {
 padding: 7px;
 }
 .accordion-button {
   padding: 0.4rem 1.25rem;
 }
 .navbar-mobile {
   display: none;
 }
 
 /*end header*/
 
 

/*end-nav*/
.img-navbar {
  margin-right: 8rem;
}
h1 {
  color: brown;
}
.input-body {
  margin-left: 10rem;
  max-width: 70%;
}
.form-control-days {
  max-width: 20%;
  background-color: #f4f6fa;
}
.input-child {
  margin-bottom: 2rem;
}
.form-mail-pass {
  width: 23rem;
}
.form-file {
  background-color: #f4f6fa;
  align-items: center;
  padding: 1rem 0 1rem 0;
}
.labelcv {
  margin-top: 1rem;
}
.form-file-cv {
  margin-left: 2rem;
}
.form-file-cv > div {
  margin-top: 0.2rem;
  color: #abaeb2;
}
.button-white {
  padding: 0.3rem 5rem 0.3rem 5rem;
  border-radius: 16px;
  background-color: #f4f6fa;
  color: #0bbee7;
  cursor: pointer;
  margin-left: 6rem;
}
.button-primary {
  padding: 0.3rem 5rem 0.3rem 5rem;
  max-height: 2rem;
  border-radius: 16px;
  background-color: #0bbee7;
  border-color: coral;
  color: #fff;
  cursor: pointer;
}
.bootom-boder {
  margin: 3rem 0 3rem 0;
}
.footer {
  background-color: #f4f6fa;
}
.footer-content1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.font-footer {
  font-size: 13px;
}

@media (max-width: 1200px) {
  .nav-menu_right ul {
      display: none;
  }

  .navbar-mobile {
      display: block;
  }
  .bootom-boder {
    flex-direction: column;
  }
  .button-white, .button-primary {
    margin-left: 0;
    margin-top: 15px;
  }
  .input-child {
    flex-direction: column;
  }
  .form-mail-pass {
   width: 100%;
 }
} 
@media screen and (max-width: 414px and 600px) {
  * {
    font-size: 14px;
  }
  .nav {
    display: none;
  }
  .input-body {
    margin: 0;
  }
  .input-mail {
    display: flex;
    flex-direction: column;
  }
  .form-file {
    width: 100%;
  }
  .bootom-boder {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .button-white {
    margin: 8px 6px 8px 0;
  }
}
@media screen and (max-width: 600px) {
  * {
    font-size: 14px;
  }
  .nav {
    display: none;
  }
  .input-body {
    margin: 0;
  }
  .input-mail {
    display: flex;
    flex-direction: column;
  }
  .form-file {
    width: 100%;
  }
  .bootom-boder {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .button-white {
    margin: 8px 6px 8px 0;
  }
}
